<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>upload</title>
</head>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="static/css/style1.css">


<body>
	<div class="nav">
		<input type="checkbox" id="nav-check">
		<div class="nav-header">
		  <div class="nav-title">
			<img class="logo" src="/static/images/suyati_logo.svg" alt="logo" style="width: 500px;height: 40px; padding-right: 400px;">
		  </div>
		</div>
		<div class="nav-btn">
		  <label for="nav-check">
			<span></span>
			<span></span>
			<span></span>
		  </label>
		</div>

		<div class="nav-links">
		  <a href="login.html" target="_blank">Logout</a>
		</div>
	  </div>

	<div class="frame">
		<div class="center">
			<div class="title">
				<h1>Drop file to upload</h1>
			</div>


			<form action = "/success" method = "post" enctype="multipart/form-data" >
			<div class="dropzone">
				<img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
				<input type="file" name="file" class="upload-input" />
			</div>
			<div style="padding-top:5px;">
			<button class="btn" style="padding-left:5px;" name="uploadbutton" type = "submit" value="Upload">Upload file</button>
			</div>
		</form>
		</div>

	</div>

</body>
</html>
