<html>

<head>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body >
  
  <header style=" display:flex; justify-content:flex-end; align-items:center; ">
    <nav style=" width:100%; height:60px; margin-left:-10px; margin-top:-8px; margin-right:0px; background-color:dodgerblue; border-color:dodgerblue; ">
      <img class="logo" src="/static/images/suyati_logo.svg" alt="logo" style="width:200px; height:50px; padding-top: 5px; padding-bottom: 5px;">
      <ul class="nav_links" style="float: right; font-family:roboto ; font-size: 15px;">
        <li style="padding: 5px 15px 10px 15px; "><a style="color:yellow;" href="{{ url_for('home')}}">Logout</a></li>
      </ul>
      <img src="static/images/bg_10.png" style="width:100%; height:180px; margin-top:-15px">
    </nav>
  </header>
  <br></br>
  <div style=" padding-left:430px; padding-top:180px;">
    <div style="background-color:#f5f5f5;float: left; width: 680px; height: 250px; border-radius: 20px;padding-right: 30px; ">
      <img src="static/images/symbol.png" style="width: 50px;height: 50px; padding-left: 300px;padding-top:20px;">
    <h1 style="color: black; padding-left: 190px; font-family:roboto;">Please upload here :</h1>
    <div class="button" style="align-self: center; padding-top: 0px;">
      
      <form action = "/success" method = "post" enctype="multipart/form-data" >
        
        <input  type="file" name="file" style="background-color:#a8afba ; color: black; font-family:roboto; font-size: 25px; text-align: center;border-radius: 8px; padding-left:10px ; align-self:left;">
        
        
        <input  type = "submit" value="Upload" style="background-color:dodgerblue; color: black; font-family:roboto; font-size: 25px;text-align: center; ;border-radius: 8px; padding-left: 10px; box-shadow: 3px 3px #00000;" >
      
      </form>
    
    </div>
  
  </div>

  <!--div style=" padding-left:330px; padding-top:30px;">
    <form class="fileUpload">
  <input type="file" class="fileElem" multiple>
  <label class="fileSelect">Upload File</label>
  <h4>Usage</h4>
  <progress value="40" max="100"></progress>
  <p>4.00 GB out of 10 GB (40%) (<a href="#" class="upgrade">Upgrade</a>)</p>
</form>
  </div>
  
</body>

</html>
    
    
