<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>upload</title>
</head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="static/css/style1.css">
<link type="text/css" href="/static/css/bootstrap.min.css">

<body>
<div class="nav">
	 	<img class="logo" src="/static/images/suyati_logo.svg" alt="logo" style="width: 500px;height: 90px; padding-right: 375px;padding-bottom: 30px">
		<input type="checkbox" id="nav-check">
		<div class="nav-btn">
		  <label for="nav-check">
			<span></span>
			<span></span>
			<span></span>
		  </label>
		</div>

		<div class="nav-links">
		  <!--
			"_blank" opens new tab"
			<a href="{{ url_for('logout')}}" target="_blank">Logout</a> -->
			<a href="{{ url_for('logout')}}">Logout</a>
		</div>
</div>

      <section id="work">
      <div class="container">
          <div class="row">
              <img class="img-responsive" src="{{ url_for('static', filename='images/output.jpg')}}">
          </div>
      </div>
  </section>


</body>
</html>
