<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>upload</title>
</head>

<link type="text/css" href="/static/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="static/css/style1.css">

<body>
	<div class="nav">
	 	<img class="logo" src="/static/images/suyati_logo.svg" alt="logo" style="width: 500px;height: 90px; padding-right: 375px;padding-bottom: 30px">
		<input type="checkbox" id="nav-check">
		<div class="nav-btn">
		  <label for="nav-check">
			<span></span>
			<span></span>
			<span></span>
		  </label>
		</div>

		<div class="nav-links">
		  <!--
			"_blank" opens new tab"
			<a href="{{ url_for('logout')}}" target="_blank">Logout</a> -->
			<a href="{{ url_for('logout')}}">Logout</a>
		</div>
	  </div>
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
		<!-- <div class="alert alert-{{ category }}"> -->
		<div class="pop" style="width: fit-content; margin: auto;">
					<h5 style="background-color: rgb(255, 158, 158); ;padding: 8px 60px 8px 60px;color:black; border:rgb(255, 158, 158);border-radius:5px;">{{ message }}</h5>
		{% endfor %}
		</div>
		{% endif %}
		{% endwith %}
	<div class="frame">
		<div class="center">
			<div class="title">
				<h1>Drop file to upload</h1>
			</div>
			<form action = "/success" method = "post" enctype="multipart/form-data" >
		    <div class="new">
				<div class="dropzone">
				  <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
				<input type="file" name="file" class="upload-input" />
			</div>
		    </div>
			<div style="padding-top:5px;">
			<button class="btn" style="padding-left:5px;" name="uploadbutton" type = "submit" value="Upload">Upload file</button>
			</div>
		</form>
		</div>

	</div>

</body>
</html>
